.digital-clock {
    display: flex;
    align-items: center;
    justify-content:center ;
    height: 100vh;
    background: rgb(31, 29, 29);
}
.digital-clock #timer h1{
    font-size: 100px;
    color: white;
    font-family: Orbitron, sans-serif;
}